.relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .transition-transform {
    transition: transform 0.5s ease-in-out;
  }
  
  .min-w-full {
    min-width: 100%;
  }
  